AarsakSmerte_PasRap.pdf
FABQ.Score1.pdf
FABQ.Score2.pdf
FABQScore1.pdf
FABQScore2.pdf
HSCL10Score.pdf
NDI_PrePost.pdf
ODI_PrePost.pdf
Pasientfornoydhet.pdf
SmertestillendeResept.pdf
SmertestillendeUtenResept.pdf
TallTilAarsrapport2015-concordance.tex
TallTilAarsrapport2015.lof
TallTilAarsrapport2015.log
TallTilAarsrapport2015.lot
TallTilAarsrapport2015.pdf
TallTilAarsrapport2015.synctex.gz
TallTilAarsrapport2015.tex
NDItabell.csv
ODItabell.csv
Sammenhengende.varighet.av.naavaerende.smerter.pdf
TallTilAarsrapport2016-concordance.tex
TallTilAarsrapport2016.lof
TallTilAarsrapport2016.log
TallTilAarsrapport2016.lot
TallTilAarsrapport2016.pdf
TallTilAarsrapport2016.synctex.gz
TallTilAarsrapport2016.tex
KvartalsrapportNNRR-concordance.tex
KvartalsrapportNNRR.log
KvartalsrapportNNRR.pdf
KvartalsrapportNNRR.synctex.gz
KvartalsrapportNNRR.tex
framed.sty
AarsakSmerte.pdf
TallTilAarsrapport2017-concordance.tex
TallTilAarsrapport2017.log
TallTilAarsrapport2017.pdf
TallTilAarsrapport2017.synctex.gz
TallTilAarsrapport2017.tex
TallTilAarsrapport2017_alle.pdf
TallTilAarsrapport2017tmp.pdf
PatientAge.pdf
TallTilAarsrapport2017 - Kopi.pdf
