AarsakSmerte_PasRap.pdf
FABQ.Score1.pdf
FABQ.Score2.pdf
FABQScore1.pdf
FABQScore2.pdf
HSCL10Score.pdf
NDI_PrePost.pdf
ODI_PrePost.pdf
Pasientfornoydhet.pdf
SmertestillendeResept.pdf
SmertestillendeUtenResept.pdf
TallTilAarsrapport2015-concordance.tex
TallTilAarsrapport2015.lof
TallTilAarsrapport2015.log
TallTilAarsrapport2015.lot
TallTilAarsrapport2015.pdf
TallTilAarsrapport2015.synctex.gz
TallTilAarsrapport2015.tex
NDItabell.csv
ODItabell.csv
Sammenhengende.varighet.av.naavaerende.smerter.pdf
TallTilAarsrapport2016-concordance.tex
TallTilAarsrapport2016.lof
TallTilAarsrapport2016.log
TallTilAarsrapport2016.lot
TallTilAarsrapport2016.pdf
TallTilAarsrapport2016.synctex.gz
TallTilAarsrapport2016.tex
KvartalsrapportNNRR-concordance.tex
KvartalsrapportNNRR.log
KvartalsrapportNNRR.pdf
KvartalsrapportNNRR.synctex.gz
KvartalsrapportNNRR.tex
framed.sty
AarsakSmerte.pdf
TallTilAarsrapport2017-concordance.tex
TallTilAarsrapport2017.log
TallTilAarsrapport2017.pdf
TallTilAarsrapport2017.synctex.gz
TallTilAarsrapport2017.tex
TallTilAarsrapport2017_alle.pdf
TallTilAarsrapport2017tmp.pdf
PatientAge.pdf
TallTilAarsrapport2017 - Kopi.pdf
TallTilAarsrapport2015-2018.pdf
TallTilAarsrapport2015-2018_v2.pdf
TallTilAarsrapport2018-concordance.tex
TallTilAarsrapport2018.log
TallTilAarsrapport2018.pdf
TallTilAarsrapport2018.synctex.gz
TallTilAarsrapport2018.tex
TallTilAarsrapport_2015-2018.pdf
TallTilAarsrapport_2018.pdf
nnrrIndikatorer-concordance.tex
nnrrIndikatorer.log
nnrrIndikatorer.synctex.gz
nnrrIndikatorer.tex
nnrrIndikatorer_gml.pdf
nnrrIndikatorer_old.pdf
fornoyd_med_behandling.pdf
hcsl_hoy.pdf
klin_vikt_endr_smerte_aktiv.pdf
klin_vikt_endr_smerte_passiv.pdf
minimal_funksjonsnedsettelse.pdf
nytte_av_behandling.pdf
pasrapp_beh_klinikk.pdf
smertevarighet_str_enn_2aar.pdf
tilbake_i_arbeid.pdf
tverrfagligbeh.pdf
Alder_pr_enhet_pr_aar.pdf
ODI_KliniskViktig.pdf
Smerte_i_aktivitet.pdf
Smerte_i_ro.pdf
TallTilAarsrapport2019-concordance.tex
TallTilAarsrapport2019.log
TallTilAarsrapport2019.synctex.gz
TallTilAarsrapport2019.tex
beh_kommunalt.pdf
beh_spesialist.pdf
figure
AarsakSmerte.png
AarsakSmerte.wmf
Alder_pr_enhet_pr_aar.png
Alder_pr_enhet_pr_aar.wmf
NDI_PrePost.png
NDI_PrePost.wmf
ODI_KliniskViktig.wmf
ODI_PrePost.png
ODI_PrePost.wmf
PainDurationNow.png
PainDurationNow.wmf
PatientAge.png
PatientAge.wmf
Smerte_i_aktivitet.png
Smerte_i_aktivitet.wmf
Smerte_i_ro.png
Smerte_i_ro.wmf
beh_kommunalt.png
beh_kommunalt.wmf
beh_spesialist.png
beh_spesialist.wmf
fornoyd_med_behandling.wmf
hcsl_hoy.png
hcsl_hoy.wmf
klin_vikt_endr_smerte_aktiv.wmf
klin_vikt_endr_smerte_passiv.wmf
minimal_funksjonsnedsettelse.wmf
nytte_av_behandling.wmf
pasrapp_beh_klinikk.png
pasrapp_beh_klinikk.wmf
smertevarighet_str_enn_2aar.png
smertevarighet_str_enn_2aar.wmf
tilbake_i_arbeid.wmf
tverrfagligbeh.wmf
KvartalsrapportNNRR_Bergen.pdf
KvartalsrapportNNRR_OUS.pdf
KvartalsrapportNNRR_StOlavs.pdf
KvartalsrapportNNRR_UNN.pdf
KvartalsrapportNNRR_v2 - Kopi.pdf
KvartalsrapportNNRR_v2-concordance.tex
KvartalsrapportNNRR_v2.log
KvartalsrapportNNRR_v2.pdf
KvartalsrapportNNRR_v2.synctex.gz
KvartalsrapportNNRR_v2.tex
alder.pdf
figfolder
TallTilAarsrapport2020-concordance.tex
TallTilAarsrapport2020.log
TallTilAarsrapport2020.synctex.gz
TallTilAarsrapport2020.tex
TallTilAarsrapport2020_v2-concordance.tex
TallTilAarsrapport2020_v2.log
TallTilAarsrapport2020_v2.synctex.gz
TallTilAarsrapport2020_v2.tex
alder.pdf
minimal_funksjonsnedsettelse_v2.pdf
minimal_funksjonsnedsettelse_v2.wmf
KvartalsrapportNNRR_Alesund.pdf
KvartalsrapportNNRR_Haukeland.pdf
KvartalsrapportNNRR_Kristiansand.pdf
KvartalsrapportNNRR_Levanger.pdf
KvartalsrapportNNRR_Sandnessjoen.pdf
KvartalsrapportNNRR_Stavanger.pdf
KvartalsrapportNNRR_UNNHarstad.pdf
KvartalsrapportNNRR_UNNTromso.pdf
TallTilAarsrapport2021-concordance.tex
TallTilAarsrapport2021.log
TallTilAarsrapport2021.synctex.gz
TallTilAarsrapport2021.tex
KvartalsrapportNNRR_Drammen.pdf
KvartalsrapportNNRR_Aalesund.pdf
NDI_12mnd.pdf
NDI_12mnd.wmf
NDI_6mnd.pdf
NDI_6mnd.wmf
NDI_basis.pdf
NDI_basis.wmf
ODI_12mnd.pdf
ODI_12mnd.wmf
ODI_6mnd.pdf
ODI_6mnd.wmf
ODI_basis.pdf
ODI_basis.wmf
Sivilstatus.pdf
Sivilstatus.wmf
Smerte_i_aktivitet_12mnd.pdf
Smerte_i_aktivitet_12mnd.wmf
Smerte_i_aktivitet_6mnd.pdf
Smerte_i_aktivitet_6mnd.wmf
Smerte_i_aktivitet_basis.pdf
Smerte_i_aktivitet_basis.wmf
Smerte_i_ro_12mnd.pdf
Smerte_i_ro_12mnd.wmf
Smerte_i_ro_6mnd.pdf
Smerte_i_ro_6mnd.wmf
Smerte_i_ro_basis.pdf
Smerte_i_ro_basis.wmf
TallTilAarsrapport2021 - opprinnelig.pdf
andel_beh_spesialist.pdf
andel_beh_spesialist.wmf
andel_kvinner.pdf
andel_kvinner.wmf
figurer_aarsrapp_2021
hscl_hoy.pdf
hscl_hoy.wmf
indikatorer_2021
indikatorer_2022
TallTilAarsrapport2022-concordance.tex
TallTilAarsrapport2022.log
TallTilAarsrapport2022.synctex.gz
TallTilAarsrapport2022.tex
KvartalsrapportNNRR_aalesund.pdf
KvartalsrapportNNRR_drammen.pdf
KvartalsrapportNNRR_haukeland.pdf
KvartalsrapportNNRR_kristiansand.pdf
KvartalsrapportNNRR_levanger.pdf
KvartalsrapportNNRR_ous.pdf
KvartalsrapportNNRR_sandnessjoen.pdf
KvartalsrapportNNRR_stavanger.pdf
KvartalsrapportNNRR_stavern.pdf
KvartalsrapportNNRR_stolavs.pdf
KvartalsrapportNNRR_unnharstad.pdf
KvartalsrapportNNRR_unntromso.pdf
KvartalsrapportNNRR_v3-concordance.tex
KvartalsrapportNNRR_v3.log
KvartalsrapportNNRR_v3.pdf
KvartalsrapportNNRR_v3.synctex.gz
KvartalsrapportNNRR_v3.tex
TallTilAarsrapport2023-concordance.tex
TallTilAarsrapport2023.log
TallTilAarsrapport2023.synctex.gz
TallTilAarsrapport2023.tex
datakvalNNRR_2023.pdf
KvartalsrapportNNRR_rapporteket.tex
TallTilAarsrapport2024-concordance.tex
TallTilAarsrapport2024.pdf
TallTilAarsrapport2024.synctex.gz
TallTilAarsrapport2024.tex
